// HERO //
// OPTION INSTEAD OF UTILIZING SLIDER

.hero-bkgd {
  background-color: #fff;
  width: 100%;
  padding-top: 60px;
  color: $black;
  padding-bottom: 66.45%;
  position: relative;
  @media (min-width: 940px) {
    height: 633px;
    padding-bottom: 0;
  }
  @media (min-width: $mobile) {
    padding-top: 20px;
  }
  @media (max-width: $tiny-mobile) {
    padding-bottom: 83.45%;
  }
}

.hero-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  position: relative;
}
.hero-positioning {
  @include grid-container();
  @include grid-column;
  position: relative;
  margin-left: 0;
}
.hero-text {
  @include grid-column();

  @include grid-media($row-thirds-tablet-up) {
    @include grid-column(1);
  }
  position: relative;
  margin-top: 140px;
  z-index: 999;
  @media (max-width: $mobile) {
    margin-top: 60px;
  }
  h1.hero-heading {
    color: $dark-red;
    text-transform: uppercase;
    font-size: 3.875em;
    font-family: $heading-stack;
    line-height: 0.935483871;
    margin-bottom: 25px;
    @media (max-width: $mobile) {
      margin-bottom: 0;
    }
  }
  p {
    font-size: 1em;
    font-weight: normal;
    color: $gray;
    @media (max-width: $mobile) {
      margin-top: 0;
    }
    a, a:visited {
      color: $dark-red;
    }
  }
}

.django-characters {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0px;
  left: 40px;
  z-index: 997;
  background-size: cover;
  height: auto;
  padding-left: 100%; /* Equal to width of new image */
  background-repeat: no-repeat;
  padding-bottom: 66.61%;
  padding-top: 26px;
  animation: $shift-right-to-left;
  @media (min-width: 940px) {
    padding-top: 0;
  }
  @media (min-width: 1000px) {
    left: 65px;
  }
  @media (min-width: 1120px) {
    left: 120px;
  }
  @media (max-width: $tiny-mobile) {
    padding-bottom: 86.19%;
  }
}

.splat-top-left {
  position: absolute;
  background: url(../images/splat.svg) no-repeat;
  background-size: 450px;
  width: 100%;
  height: 450px;
  top: -200px;
  left: -200px;
  z-index: 998;
  animation: $shift-left-to-right;
  @media (max-width: $mobile) {
    display: none;
  }
}
